.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background-color: white;
  border: 2px solid silver;
  border-top: 40px solid silver;
  border-radius: 5px;
  z-index: 1002;
}

@keyframes darken {
  0% {background-color: transparent;}
  100% {background-color: rgba(0,0,0,0.5);}
}

.dialog-modal-coverboard {
  position: fixed;
  top: 0;
  left: 0;
  animation: darken 0.5s ease forwards;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}

.dialog-xbutton {
  position: relative;
  top: -4px;
  color: white;
}

.dialog-close {
  position: absolute;
  top: -30px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: darkred;
  border-radius: 50%;
  border: none;
  padding: 0px !important;
}

.dialog-title {
  user-select: none;
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}

.dialog-buttonbox-container {
  width:100%;
}

.dialog-buttonbox {
  display: flex;
  width:auto;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
}

.dialog-button {
  margin-left: 3px;
  margin-right: 3px;
}

.dialog-input {
  background-color: white !important;
  color: black !important;
}
